<!-- views/partials/nav.ejs -->
<!-- 홈페이지 메뉴바 설정 -->

<div class="navbar">
    <a href="/">홈</a>
    <a href="#">관심</a>
    <a href="#">검색</a>
    <a href="#">등록</a>
    <a href="/login">더보기</a>
</div>
