<!-- views/partials/nav.ejs -->
<!-- 홈페이지 메뉴바 설정 -->

<div class="navbar">
    <a href="/">홈</a>
    <a href="#">관심</a>
    <a href="/contents/search">검색</a>
    <a href="/contents/register">등록</a>
    <a href="/contents/more">더보기</a>
</div>
