<!-- views/home/more.ejs -->
<!-- more 화면 구성 -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/nav %>

<div class="container home home-more">
    <div class="top">
        <a href="/login"><strong>로그인 ></strong></a>
    </div>
    <div class="top">
        <p>로그인 후 더 많은 정보를 확인해보세요.</p>
    </div>
    <div class="icon">
        <div class="iconEle">
            <div class="iconImg">
                <a href="#"><img src='../../public/assets/img/nofication.png'></a>
            </div>
            <div class="iconTxt">
                알림
            </div>
        </div>
        <div class="iconEle">
            <div class="iconImg">
                <a href="#"><img src='../../public/assets/img/edit.png'></a>
            </div>
            <div class="iconTxt">
                리뷰
            </div>
        </div>
        <div class="iconEle">
            <div class="iconImg">
                <a href="#"><img src='../../public/assets/img/home.png'></a>
            </div>
            <div class="iconTxt">
                부동산
            </div>
        </div>
        <br>
        <hr>
    </div>
    <div class="contentMenu">
        <div><a href="#">매물번호 조회</a></div>
        <div><a href="#">자주 묻는 질문</a></div>
        <div><a href="#">이벤트</a></div>
        <div><a href="#">공지사항</a></div>
        <div><a href="#">1:1문의</a></div>
        <hr>
    </div>
    <div class="etc">
        <a>이용약관</a>
        <a>개인정보처리방침</a>
    </div>
    <hr>
</div> <!-- container end -->
<div id="section">
    <br>
    <a>고객센터 010-1234-5678</a>
</div>
</body>
</html>
